@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

nav, .header, .page-footer {
    font-family: 'Indie Flower', cursive;
}

.header {
    text-align: center;
    font-size: 60px;
    background-color: rgb(238, 110, 115);
}

.page-footer {
    font-size: 20px;
}

.brand-logo {
    left: 20px;
}

.mycard {
    margin-top: 30px;
}
  
.auth-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    margin-bottom: 90px;
}

.input-field input:focus {
    border-bottom: 1px solid rgb(110, 121, 238) !important;
    box-shadow: 0 1px 0 0 rgb(110, 121, 238) !important;
}

#input-comments {
    margin-left: 15px; 
    width: 280px;
}

#input-comments:focus {
    border-bottom: 1px solid rgb(110, 121, 238) !important;
    box-shadow: 0 1px 0 0 rgb(110, 121, 238) !important;
}

.center {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.material-icons {
    font-size: 100px;
    color: rgb(0, 0, 0);
}

.waves-effect{
    color: rgb(0, 0, 0);
    background-color: rgb(238, 110, 115);
    margin-right: 0px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

#toast-container {
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}

.card {
    top: 15px !important;
}

.card-action {
    text-align: center;
}

#productCard {
    margin: 30px;
    padding: 10px;
    width: 400px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header {
    background-color:rgb(238, 110, 115);
}

.shoppingCart {
    width: 5%;
    height: auto;
    margin-left: 30px;
}

h4 {
    text-align: center;
}